@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  color: #fff;
  flex-direction: column;
}

header{
  min-height: 100vh;
  background-image:linear-gradient(rgba(20,20,20,0.69),rgba(20,20,20,0.69)),url(../img/2.jpg);
  background-position: center;
  background-attachment: fixed;
    background-position: center;
  background-repeat: no-repeat;
    background-size: cover;
}

.mySidenav .home {
  position: fixed;
  right: -140px;
  transition: 0.5s;
  padding: 15px;
  min-width: 190px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
  text-align: left;
  z-index: 99;
  color:rgb(41,41,41);
}

.mySidenav .home:hover {
  right: 0;
}

#Home {
  top: 30px;
  background-color:rgb(255,163,26); 
}

#Wampip{
  font-weight: bold;
  font-size: 30px;
  color:black;
  background-color: rgb(255,163,26);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px;
  box-shadow: 10px;
}

#TEA{
  color:#FFF;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
}

.containerg{
  margin-left:100px;
  margin-bottom: 0;
}

.brand{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: -500px;
  background:linear-gradient(rgba(20,20,20,0.79),rgba(20,20,20,0.79));
  border-radius: 15px;
}

}

.schoolname{
  color:#FFF;
  padding-left: 0;
}

.header-text{
  font-family: "lato", "verdana";
  background-color: transparent;
  color: #FFF;
}

.headermain{
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 4px;
  margin-bottom: 30px;
  background-color: rgba(20,20,20,0.69);
  padding:10px;
  text-align: center;
}

.jumbotron{
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.headermain span{
  text-align: center;
}

.sipsip{
  color:rgb(255,163,26);
}


.img{
  object-fit: all;
  height: 200px;
  box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
}

.cardcon{
  background-color: #1c1c1c;
  min-height: 520px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
}

.containery{
  margin-left: -400px;
  margin-right: 20px;
}

.card h3{
  padding: 20px;
  text-transform: uppercase;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  background-color:rgb(255,163,26);
  color:black;
  box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
}


.card h4{
  margin-bottom: 20px;
  margin-top: 20px;
}

.rate{
  color:red;
  width: 50px;
  border: 1px solid red;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 75%;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
}

.presyo{
  color:#FFF;
  width: 50px;
  border: 1px solid #FFF;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-size: 75%;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left :150px;
  box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
}

.card p{
  font-size: 70%;
  color:white;
}

.btn-card:link,
.btn-card:visited{
  background-color: transparent;
  transition: 0.5s;
  color:#e67e22;
  border: 1px solid #e67e22;
  border-radius: 30px;
  font-size: 75%;
  padding: 5px 15px;
  margin-left: 30%;
  box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
}

.btn-card:hover,
.btn-card:active{
  background-color: #e67e22;
  transition: 0.5s;
  color:#FFF;
  text-decoration: none;
}

.section1{
  background:linear-gradient(rgba(20,20,20,0.69),rgba(20,20,20,0.69)),url(../img/1.jpg); 
  justify-content: center;
  min-height: 100vh;
  min-width: 100vh;
  background-position: center;
  background-attachment: fixed;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 20px;
}

.shadow{
  background-color: rgb(255,163,26);
  text-align: center;
  text-transform: uppercase;
  width: 500px;
  margin-left: 440px;
}

.h1{
  margin:10px;
  padding: 5px;
}

.movie-container {
  margin:10px 100px;
}

.movie-container select {
  background-color: #fff;
  border: 0px;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seat {
  background-color: #444451;
  height: 30px;
  width: 30px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}

.row {
  display: flex;
  margin-left: 400px;
  margin-top: 10px; 
}

.seat.selected {
  background-color: rgb(0,128,0);
}

.seat.occupied {
  background-color: rgb(175,15,0);
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background-color: rgba(41, 41, 41, 0.69);
  padding: 5px 10px;
  border-radius: 5px;
  width:500px;
  margin-left: 440px;
  color: #FFF;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.container {
  perspective: 10px;
  margin-bottom: 30px;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 350px;
  margin: 15px 390px;
  padding:20px;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

.screen h3{
  color:black;
  text-align: center;
}

p.text {
  margin: 20px 380px;
  background-color: rgba(20,20,20,0.69);
  padding:10px;
}

p.text span {
  color: red;
}

.high{
  background-color: rgba(20,20,20,0.65);
  padding-top: 20px;
  padding-left: 50px;
  margin-left: 280px;
  margin-right: 0;
  width: 550px;
  color:rgb(255,163,26);
}

.low{
  width:410px;
  color:black;
}

.sabmit{
  margin-bottom: 20px;
  border:2px solid rgb(255,163,26);
  color:rgb(255,163,26);
}

.sabmit:hover{
  background-color: rgb(255,163,26);
  color:#FFF;
}

.confirmpage{
  border:2px solid rgb(255,163,26);
  width:150px;
  padding-top: 5px;
  text-align: center;
  margin-left:-70px;
  height: 40px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.confirmpage:hover{
  background-color: rgb(255,163,26);
}

.confirmpage a{
  color: rgb(255,163,26);
}

.confirmpage a:hover{
  color: white;
  text-decoration: none;
}

footer{
  min-height: 10vh;
  background-color: #1c1c1c;
}

.ft2{
  font-size: 100%;
  color: rgb(255,163,26);
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
  margin-left: -400px;
}
.ft2 i{
  font-size: 100%;
  color: rgb(255,163,26);
  padding: 20px;
  margin-right: 10px;
}

@media(max-width: 820px){
#Wampip{
  font-weight: bold;
  font-size: 30px;
  color:black;
  background-color: rgb(255,163,26);
  border-radius: 10px;
  text-transform: uppercase;
  padding: 10px;
}

#TEA{
  color:#FFF;
  padding: 10px;
  font-size: 30px;
  font-weight: bolder;
}

  .shadow{
  background-color: rgb(255,163,26);  
  text-align: center;
  text-transform: uppercase;
  min-width: 80vh;
  margin-left:0;
  color:#FFF;
  }

  .brand{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: -200px;
  background:linear-gradient(rgba(20,20,20,0.79),rgba(20,20,20,0.79));
  border-radius: 15px;
  }

  .showcase {
  background-color: rgba(41,41,41,0.69);
  padding: 5px 10px;
  border-radius: 5px;
  width:500px;
  margin-left: 0px;
  color: #FFF;
  list-style-type: none;
  display: flex;
  justify-content: center;
}
  .h1{
  margin-top:10px;
  margin-left: 0;
  padding: 5px;
}

 .screen {
  background-color: #fff;
  height: 70px;
  width: 350px;
  margin: 15px 60px;
  padding:20px;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }

  .row {
  display: flex;
  margin-left: 70px; 
  }

  p.text {
  margin: 20px 55px;
  width: 340px;
  background-color: rgba(20,20,20,0.69);
  padding:10px;
}

  .high{
  background-color: rgba(20,20,20,0.65);
  padding-top: 20px;
  padding-left: 0;
  margin-left: 55px;
  margin-right: 10px;
  width: 300px;
  }

  .low{
    width: 100%;
}

  .confirmpage{
  border:2px solid rgb(255,163,26);
  width:150px;
  padding: 5px;
  text-align: center;
  margin-left: 15px;
}

.sabmit{
  margin-top: 5px;
  margin-bottom: 10px;
}

.ft2{
  font-size: 100%;
  color: rgb(255,221,51);
  padding: 20px;
  margin-bottom: 0;
  text-align: center;
  margin-left: -100px;
}

.cardcon{
  background-color: #1c1c1c;
  min-height: 620px;
  padding: 20px;
  margin-left: -85px;
  box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 36px -2px rgba(0,0,0,0.75);
}

.img{
  object-fit: all;
  height: 300px;
}

.containery{
  margin-left: 20px;
  margin-right: 20px;
}

.presyo{
  margin-left: 275px;
}

.btn-card:link,
.btn-card:visited{
  margin-left: 40%;
}
}

}